/* .profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    height: 59.5vh;
}
.profile{
    width: 400px;
    height: 350px;
    border: 2px solid #ccc;
    margin: 0;
    border-radius: 5px;
}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 70px;
} */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    height: 59.5vh;
    /* min-height: 80vh; */
     /* Ajusta la altura mínima para que el contenido no se superponga al footer */
    /* background-color: #f0f0f0; Agrega un fondo de color para el perfil */
    padding: 20px; /* Agrega un espacio interno al contenedor */
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio sin deformarse */
    margin-bottom: 15px; /* Añade un margen inferior a la imagen */
  }
  
  .profile h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
  }
  .profile h2{
    font-size: 24px;
    margin: 0;
    text-align: center;
    color:black;
  }
  .profile h1:hover {
    color: red;
  }

  .btn-signout {
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight:bold;
    font-size: 15px;
    transition: .4s;
    margin-top: 10px;
    cursor: pointer;
}
.btn-signout:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.profile p {
    font-size: 18px;
  }
  
  .links {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .links a {
    color: red;
    text-decoration: underline;
  }
  
  .links a:hover {
    color: darkred;
  }

  @media screen and (max-width: 768px) {
    .profile {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .profile {
      width: 100%;
      max-width: 100%;
    }
  }
  
  