
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60vh;
  padding: 100px 0rem 28rem 0rem; 
  position: relative;
 margin-top: 0;
}


.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color:black;
  color: white;
}
.container-login form{
width: 100%;
}
.email,
.password {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.container-login label {
  font-weight: bold;
  margin-bottom: 5px;
}
.container-login input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc; /* Agregar solo borde inferior */
  width: 300px;
  font-size: 16px;
}
.button-l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.forgot-password {
  color: red; /* Cambia el color según tus necesidades */
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.forgot-password:hover{
  color: darkred;
}
.button-login {
  border: none;
  background: red;
  padding: 10px 20px;
  border-radius: 7px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* width: 100%; */
}

.button-login:hover {
  background-color: #d6001c;
}
.account-section{
  margin-top: 15px;
  margin-bottom: 15px;

}
.account-section label {
  margin-right: 60px; /* Agregar espacio entre el label y el enlace */
  color: white;
}
.account-section a {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px; /* Aumentar el tamaño de la letra */
}
.account-section a:hover {
  text-decoration: underline;
}



.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .btn-google {
    display: flex;
    align-items: center;
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s; 
    
    /* margin-top: 5px; */
  }
  
  .btn-google:hover {
    background-color: #357ae8;
    transform: scale(1.05);
  }
  
  .btn-google:active {
    background-color: #2b5cb9;
  }
  
  @media (max-width: 767px) {
    .login {
      height: 80vh;
      margin-bottom: 20px;
    }
  
        /* .container-login {
          width: 90%;
        } */
  
    /* .button-login {
      width: 100%;
    } */
  }