
  /* .signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
  } */
  .signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding: 100px 0rem 28rem 0rem; 
    position: relative;
   margin-top: 0;
  }
  
  .container-signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color:black;
    color: white;
  }
  .container-signUp form{
    width: 100%;
  }
  
  .email,
  .password {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .container-signUp label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.container-signUp input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc; /* Agregar solo borde inferior */
    width: 300px;
    font-size: 16px;
  }
  .button {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
  }
  
  .button-signUp {
    border: none;
    background: red;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* width: 100%; */
  }
  
  .button-signUp:hover {
    background-color: #d6001c;
  }
  
  a {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px; /* Aumentar el tamaño de la letra */
  }
  
  a:hover {
    text-decoration: underline;
  }
  .error-messagee {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  @media (max-width: 767px) {
    .signUp {
      height: 80vh;
      margin-bottom: 20px;
    }
  
    .container-signUp {
      width: 90%;
    }
  
    .button-signUp {
      width: 100%;
    }
  }
  
